html{
    height: 100vh;
}

body{
    margin: 0;
    position: relative;
    background-color: rgb(75, 55, 36);
}

.page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px rgb(85, 85, 85);
}

.background{
    position: fixed;
    border: 3px solid black;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: -1;
    background-image: url("./images/background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px) brightness(75%);
}

.ribbon{
    height: 26rem;
}

.hidden{
    opacity: 0.0;
    font-size: 0px;
}

.container{
    min-height: 100vh;
    width: 100%;
}

.title{
    text-align: center;
    margin-top: 2rem;
    text-shadow: none;
}

.overtitle{
    font-size: 1.75rem;
    font-weight: 800;
    color: white;
    text-align: center;
    text-decoration: none;
}

.maintitle{
    display: inline-block;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    border: 0.4rem solid white;
    border-left: 0;
    border-right: 0;
    line-height: 5rem;
    width: 800px;
    height: 80px;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

.maintitle-back{
    color: white;
    text-decoration: none;
}

.overtitle-back{
    color: white;
    text-decoration: none;    
}

.linkbox{
    font-size: 1.15rem;
    font-weight: 900;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 6rem 2rem 2rem 2rem;
}

.linkbox-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkbox-item-text{
    font-size: large;
    text-shadow: none;
}

.linkbox-item-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    padding: 2rem 1.75rem 2rem 1.75rem;
    color: white;
    text-decoration: none;
}

.linkbox-item-logo{
    height: 75px;
    margin-bottom: 0.5rem;
}

.linkbox-item-link:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.info-box{
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.25rem;
    line-height: 0.5;
    gap: 0.5rem;
    width: 100%;
}

.info-icon{
    height: 25px;
    overflow: visible;
}

.below-links{
    margin: 4rem 2rem 5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
}

.below-link-box{
    margin-bottom: 4rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    width: 335px;
    min-height: 85px;
    text-align: center;
    border: 2px solid white;
    border-left: 0;
    border-right: 0;
    text-decoration: none;
}

.below-link-title{
    font-size: large;
    color: white;
    font-weight: 800;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 25px;
}

.below-link-box-links{
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
}

.below-link-box-link{
    color: white;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.below-link-content-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.below-link-content{
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 110px;
    padding: 0.15rem 0.35rem 0.15rem 0.35rem;
    margin: 0 0.2rem 0.25rem 0.2rem;
}

.below-link-content-text{
    text-align: justify;
}

.social-media-logo{
    height: 45px;
}

.social-media-item{
    margin: 0 0.75rem 0.75rem 0.75rem;
}

.info-details{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header{
    display: flex;
    flex-direction: wrap;
    text-decoration: none;
    align-items: center;
}

.info-logo{
    height: 45px;
}

.info-title{
    color: white;
    border: 0.2rem solid white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px rgb(85, 85, 85);
}

.info-paragraph{
    width: 800px;
    text-align: justify;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.info-paragraph-title{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.info-paragraph-small{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2.7rem;
    margin-top: 3rem;
}

.info-paragraph-small-title{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.info-paragraph-small-text{
    width: 32rem;
}

.info-images{
    margin-top: 1rem;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.info-screenshot{
    border: 2px solid white;
    min-width: 224px;
    max-width:224px;
    min-height: 126px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.screenshot-box{
    position: relative;
    display: inline;
    height: 7.875rem;
}

.info-paragraph-link{
    padding-left: 1px;
    padding-right: 1px;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px white;
}

.info-paragraph-list{
    text-align: left;
}

.content-list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-list-item{
    height: 5rem;
    width: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-list-head{
    height: 55px;
}

.content-list-logo{
    text-decoration: none;
    height: 45px;
    margin: 0.5rem;
}

.content-list-name{
    color: white;
    font-size: larger;
    text-shadow: none;
    font-weight: 700;
    width: 175px;
}

.content-list-joined{
    color: white;
    font-size: large;
    text-align: right;
    text-shadow: none;
    margin: 2rem 2rem 2rem 0;
}

.content-list-item-identification{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 10px;
}

.content-list-datapack{
    min-height: 5rem;
    width: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-shadow: none;
}

.content-list-datapack-text{
    width: 43rem;
    margin: 1rem;
}

.content-list-datapack-title{
    text-align: left;
    color: white;
    font-size: 1.2rem;
    margin: 0 0 4px 0;
    height: 1.5rem;
    display: flex;
    align-content: center;
    gap: 0.75rem;
}

.content-list-datapack-icon{
    width: 3rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.wallpaper-list{
    width: 1003px;
}

.eye-icon{
    height: 1.66rem;
    position: absolute;
    bottom: 6.125rem;
    left: 12.2rem;
}

.download-icon{
    height: 1.25rem;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    gap: 0.75rem;
}

.dropdown{
    height: 25px;
    transform: rotate(0deg);
}

.arrow {
    transition: transform .1s ease-in-out;
}

.active > .arrow {
    transform: scaleY(-1);
}

.collapsible{
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapsible-first{
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapsible-box{
    text-align: justify;
    color: white;
    font-size: 1.2rem;
    border: 2px solid white;
    margin-top: -2px;
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    width: 983px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsible-box-first{
    text-align: justify;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    border: 2px solid white;
    margin-top: -2px;
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    width: 983px;
    height: auto;
    overflow: hidden;
    visibility: unset;
}

.collapsible-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    color: white;
    text-shadow: none;
}

.collapsible-inner{
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: auto;
    border: 2px solid white;
    background-color: rgba(0, 10, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 0px;
}

.collapsible-inner-first{
    text-align: justify;
    display: inline-block;
    font-size: 1.2rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: auto;
    border: 2px solid white;
    background-color: rgba(0, 10, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 0px;
}

.collapsible-box-inner{
    text-align: justify;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    border: 2px solid white;
    margin-top: -2px;
    margin-bottom: 0.75rem;
    margin-left: 2.5rem;
    margin-right: 0.75rem;
    height: 0px;
    width: 75.5%;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 10, 0, 0.75);
}

.collapsible-box-inner-first{
    border: 2px solid white;
    margin-top: -2px;
    margin-bottom: 0.75rem;
    margin-left: 2.5rem;
    margin-right: 0.75rem;
    height: auto;
    width: 75.5%;
    overflow: hidden;
    visibility: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 10, 0, 0.75);
}

.collapsible-item{
    display: flex;
    flex-direction: column;
    text-shadow: none;
    /* gap: 0.25rem; */
    width: 225px;
}
.collapsible-item-title{
    color: white;
    text-decoration: none;
    padding: 0.25rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid white;
    border-top: none;
    width: 13.5rem;
}

.impressum{
    color: white;
    font-size: 1.2rem;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.impressum-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.impressum-content{
    text-align: justify;
    margin-bottom: 2rem;
}

.impressum-title{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.impressum-section-title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.datenschutz{
    color: white;
    font-size: 1.2rem;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.datenschutz-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.datenschutz-content{
    text-align: justify;
    margin-bottom: 4rem;
}

.datenschutz-title{
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.datenschutz-section-title{
    font-size: 1.8rem;
    font-weight: 800;
    text-align: start;
    margin-bottom: 1rem;
}
.datenschutz-link{
    color: white;
}

footer{
    width: 100%;
    align-items: flex-end;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: .75rem 0 .75rem 0;
    background-color: rgba(255, 255, 255, 0.295);
    border-top: 2px solid rgb(225, 225, 225);
    text-shadow: none;
}

.footer-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover{
    text-decoration: underline;
}

@media (max-width: 1000px){
    .wallpaper-list{
        max-width: 762px;
    }
    .collapsible-box-first{
        max-width: 742px;
    }
    .collapsible-box{
        max-width: 742px;
    }
}

@media (max-width: 900px){
    .title{
        margin-top: 3rem;
    }
    .maintitle{
        font-size: 3.5rem;
        width: 550px;
    }
    .linkbox{
        margin-top: 3rem;
        gap: 2rem;
    }
    .info-details{
        margin-bottom: 2rem;
    }
    .info-paragraph{
        width: 550px;
    }
    .info-paragraph-small{
        justify-content: center;
    }
    .info-paragraph-small-text{
        width: 100%;
    }
    .info-images{
        width: 550px;
        margin-top: 2.5rem;
        gap: 1.5rem;
    }
    .discord-images{
        width: 550px;
        margin-top: 2.5rem;
    }
    .content-list-item{
        height: auto;
        align-items: flex-start;
    }
    .content-list-item-identification{
        max-width: 270px;
        flex-wrap: wrap;
    }
    .content-list-datapack-text{
        width: 27.5rem;
    }
    .content-list-joined{
        margin: 1.5rem 1.5rem 1.5rem 0;
    }
    .wallpaper-list{
        max-width: 522px;
    }
    .collapsible-box-first{
        max-width: 502px;
    }
    .collapsible-box{
        max-width: 502px;
    }
    .collapsible-inner{
        margin-left: -2px;
        margin-right: -2px;
    }
    .collapsible-inner-first{
        margin-left: -2px;
        margin-right: -2px;
    }
    .collapsible-box-inner{

        margin-left: -2px;
        margin-right: -2px;
        width: unset;
    }
    .collapsible-box-inner-first{

        margin-left: -2px;
        margin-right: -2px;
        width: unset;
    }
    .impressum{
        width: 550px;
        margin-bottom: 2.5rem;
    }
    .datenschutz{
        width: 550px;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 600px){
    .title{
        margin-top: 2rem;
    }
    .maintitle{
        font-size: 2.6rem;
        width: 375px;
        line-height: 4rem;
        height: 63px;
    }
    .overtitle{
        font-size: 1.3rem;
    }
    .info-title{
        text-align: center;
        font-size: 1.5rem;
    }
    .info-paragraph{
        width: 375px;
        margin: 0 1rem 2rem 1rem;
        font-size: 1rem;
    }
    .info-paragraph-title{
        max-width: 350px;
    }
    .info-images{
        justify-content: center;
        gap: 1.5rem;
        width: 375px;
    }
    .discord-images{
        justify-content: center;
        gap: 1.5rem;
        width: 375px;
    }
    .info-screenshot{
        width: 225px;
    }
    .content-list-datapack-text{
        width: 100%;
    }
    .content-list-name{
        font-size: large;
        font-weight: 700;
        width: 170px;
    }
    .content-list-item-identification{
        max-width: 250px;
    }
    .content-list-joined{
        margin: 1rem 1rem 1rem 0;
        width: 85px;
    }
    .wallpaper-list{
        max-width: 280px;
    }
    .collapsible-box-first{
        max-width: 260px;
    }
    .collapsible-box{
        max-width: 260px;
    }
    .impressum{
        width: 375px;
    }
    .datenschutz{
        width: 375px;
    }
}

@media (max-width: 400px){
    .title{
        margin-top: 1.5rem;
    }
    .maintitle{
        width: 300px;
        font-size: 2rem;
    }
    .overtitle{
        margin-bottom: 1rem;
    }
    .info-header{
        width: 310px;
       justify-content: center;
    }
    .info-paragraph{
        width: 300px;
    }
    .info-paragraph-title{
    max-width: 275px;
}
    .info-images{
        width: 300px;
    }
    .discord-images{
        width: 300px;
    }
    .linkbox{
        gap: 2rem;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
    .linkbox-item-link{
        padding: 2rem 0;
        width: 300px;
    }
    .below-link-box{
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 272px;
    }
    .content-list-datapack-text{
        width: 100%;
    }
    .content-list-item-identification{
        max-width: 175px;
    }
    .content-list-name{
        max-width: 110px;
        font-size: medium;
    }
    .impressum{
        width: 300px;
    }
    .datenschutz{
        width: 300px;
    }
}
